<div class="dashboard-body">
    <div class="container">
        <div class="title">Danh sách ứng dụng</div>
        <div class="app-icons">
            <a [routerLink]="'/facebook'">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                    alt="Facebook"
                />
            </a>
            <a [routerLink]="'/zalo'">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg"
                    alt="Zalo"
                />
            </a>
        </div>
    </div>
</div>
